body {
	min-height: 400px;
}

.bd-placeholder-img {
	font-size: 1.125px;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row{
	height: 125px;
	width: 600px;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.main{
	margin: 50px;
}